body {
    background-color: black;
}

.title {
    /* color: white; */
    text-align: center;
    font-size: 40px;
    background-image: linear-gradient(to right, black, black, white, white, white, black, black);
}

.container {
    color: white;
    display: flex;
}

.hard-code {
    /* background-color: rgb(52, 240, 14); */
    width: 50%;
    text-align: center;
    /* background-image: linear-gradient(to right, black, black, black, black); */
    background-image: linear-gradient(to right, black, black, white, white, white, black, black);


}



.first {
    /* padding: 20px; */
    background-image: linear-gradient(to right, black, black, white, white, black, black);
}

.name {
    /* padding: 40px; */
    background-image: linear-gradient(to right, black, black, white, white, black, black);
}

.second {
    /* padding: 20px; */
    background-image: linear-gradient(to right, black, black, white, white, black, black);
}


span {
    color: rgb(80, 80, 241);
    font-weight: 900;
    font-size: 40px;
}

.grid {
    /* background-color: aqua; */
    width: 50%;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 750px;
    margin-left: -10px;
}

.square {
    height: 200px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.938);
    border: 1px solid rgb(150, 146, 146);
}

.mole {
    background-color: black;

}

.first .left {
    color: black;
    font-size: 35px;
}
.second .left {
    color: black;
    font-size: 35px;
}

#secs {
    color: blue;
    font-size: 70px;
}

#score {
    color: blue;
    font-size: 70px;
}
#res{
    color: black;
}

.buttons{
    color: white;
    cursor: pointer;
    background-color: #0a0a0a6e;
    font-size: 30px;
    display: flex;
    margin: 20px;
    text-align: center;
}
.start{
    width: 50%;
    padding: 10px;
    border-right: 1px solid white;
}
.start:hover{
    
    background-color: #1414146e;
}
.stop{
    width: 50%;
    padding: 10px;
}
.stop:hover{
    
    background-color: #1414146e;
}
/* 
// Media queries */

@media screen and (max-width: 425px) and (min-width: 0px) {

    .container{
        /* margin-top: 100px; */
        display: block;
    }

    .title {
        font-size: 26px;
    }

    .hard-code {
        width: 100%;
        text-align: center;
        background-image: linear-gradient(to right, black, black, black, black);
        margin-bottom: 20px;
    }

    .first {
        padding: 5px;
    }

    .name {
        padding: 5px;
    }

    .second {
        padding: 5px;
    }

    span {
        font-weight: 200;
        font-size: 20px;
    }
    .left {
        color: lightgreen;
        font-size: 15px;
    }

    #secs {
        font-size: 20px;
    }

    #score {
        font-size: 20px;
    }

    .grid {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        width: 450px;
        margin-left: 20px;

    }

    .square {
        height: 120px;
        width: 120px;
        background-color: rgba(255, 255, 255, 0.938);
        border: 1px solid rgb(150, 146, 146);
    }


    .mole {
        background-color: black;
    
    }

}

@media screen and (max-width: 768px) and (min-width: 426px) {
    

    .title {
        font-size: 28px;
    }


    .hard-code {
        width: 100%;
        text-align: center;
        background-image: linear-gradient(to right, black, black, black, black);
    }

    .first {
        padding: 10px;
    }

    .name {
        padding: 10px;
    }

    .second {
        padding: 10px;
    }

    span {
        font-weight: 200;
        font-size: 20px;
    }
    .left {
        color: lightgreen;
        font-size: 20px;
    }

    #secs {
        font-size: 20px;
    }

    #score {
        font-size: 20px;
    }

    .grid {
        display: flex;
        flex-wrap: wrap;
        width: 650px;
        margin-left: -10px;

    }

    .square {
        height: 110px;
        width: 110px;
        background-color: rgba(255, 255, 255, 0.938);
        border: 1px solid rgb(150, 146, 146);
    }


    .mole {
        background-color: black;
    
    }
  }

@media screen and (max-width: 1024px) and (min-width: 769px) {
    
    .title {
        font-size: 28px;
    }


    .hard-code {
        width: 100%;
        text-align: center;
        background-image: linear-gradient(to right, black, black, black, black);
    }

    .first {
        padding: 10px;
    }

    .name {
        padding: 10px;
    }

    .second {
        padding: 10px;
    }

    span {
        font-weight: 200;
        font-size: 20px;
    }
    .left {
        color: lightgreen;
        font-size: 20px;
    }

    #secs {
        font-size: 20px;
    }

    #score {
        font-size: 20px;
    }

    .grid {
        display: flex;
        flex-wrap: wrap;
        width: 650px;
        margin-left: -10px;

    }

    .square {
        height: 130px;
        width: 130px;
        background-color: rgba(255, 255, 255, 0.938);
        border: 1px solid rgb(150, 146, 146);
    }


    .mole {
        background-color: black;
    
    }
  }
  